@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Onest:wght@100..900&display=swap'); */

@custom-variant dark (&:where(.dark, .dark *));

@tailwind base;
@tailwind components;
@tailwind utilities;

/* leider gibts kein Ü im webfont woff2 oder ttf */
@font-face {
  font-family: "Terminal Grotesque";
  src: url("/artificial-impasto/fonts/terminal-grotesque.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Terminal Grotesque Open";
  src: url("/artificial-impasto/fonts/terminal-grotesque_open.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: "Basic", sans-serif;
  }

  body {
    @apply bg-zinc-50 dark:bg-zinc-950 dark:text-white;
  }

  h1 {
    @apply text-8xl mb-4 break-all lg:break-normal;
    font-family: "Terminal Grotesque Open", sans-serif;
  }

  .subtitle {
    @apply text-6xl mb-12;
    font-family: "Terminal Grotesque", sans-serif;
  }

  h2 {
    @apply text-5xl mt-12 mb-6;
    font-family: "Terminal Grotesque", sans-serif;
  }

  h3 {
    @apply text-3xl mt-6 mb-6 font-semibold;
  }

  h4 {
    @apply text-2xl mb-2;
  }

  p {
    @apply leading-relaxed;
  }

  q {
    @apply italic;
  }

  img {
    @apply max-h-[90vh] h-auto object-contain;
  }

  ol {
    @apply list-decimal list-inside;
  }

  main p a {
    @apply underline text-zinc-400;
  }

  main ol {
    @apply list-decimal list-outside pl-4;
  }

  main ul {
    @apply list-disc list-outside pl-4;
  }

  main img {
    @apply cursor-zoom-in;
  }

  /* hier für Image sequence oder Gallery ausblenden */
  [data-sequence] img,
  .no-lightbox img {
    @apply cursor-default;
  }

  .quote {
    @apply border-l-1 dark:border-white pl-6 italic mb-2;
  }

  .citation {
    @apply text-zinc-400 italic mt-1 text-right;
  }

  .description {
    @apply text-zinc-400 italic mt-1;
  }

  .image-source {
    @apply text-sm text-zinc-400 italic mt-1 mb-2;
  }

  .grid-layout {
    @apply grid grid-cols-1 lg:grid-cols-2 gap-4 mb-6;
  }

  .grid-layout-3 {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-6;
  }

  .layout-box {
    @apply gap-3 border-2 dark:border-1 w-full border-black dark:border-zinc-100 rounded p-4 rounded-lg hover:bg-gray-900/25 dark:hover:bg-zinc-100/25;
  }

  /* bg-zinc-200 dark:bg-zinc-900 */
  .info-box {
    @apply gap-3 text-lg border-1 w-full rounded p-4 rounded-lg;

    hr {
      @apply -mx-4 my-2;
    }
  }

  .comment-left {
    @apply italic relative mb-6 ml-20 w-fit rounded rounded-lg border p-2 before:content-[''] before:absolute before:top-1/2 before:left-0 before:w-20 before:h-px before:bg-current before:-translate-x-full;
  }

  .comment-right {
    @apply italic relative mb-6 mr-20 w-fit rounded rounded-lg border p-2 ml-auto before:content-[''] before:absolute before:top-1/2 before:right-0 before:w-20 before:h-px before:bg-current before:translate-x-full;
  }

  .comment-center {
    @apply italic relative mb-6 mx-auto max-w-[80%] rounded rounded-lg border p-2 ml-auto;
  }

  /* diese Klasse in Tailwind 3.1? für masonry */
  .break-inside-avoid {
    break-inside: avoid;
  }

  .footnotes {
    @apply mt-8 border-t border-gray-300 pt-4 text-sm text-gray-300;

    ol {
      @apply list-decimal ml-6 space-y-2;
      list-style-position: inside;
      padding-left: 0;
    }

    a {
      @apply text-blue-500 hover:underline;
    }

    h2,
    .data-footnote-backref {
      display: none;
    }
  }

  .font-tg {
    font-family: "Terminal Grotesque", sans-serif;
  }

  .font-tgo {
    font-family: "Terminal Grotesque Open", sans-serif;
  }

  /* Präsentationsmodus */
  .mode-presentation {

    /* Sichtbarkeit */
    p:not(:has(img)):not(.keep-visible) {
      display: none;
    }

    /* Optional: volle Höhe pro Folie */
    .slide {
      @apply min-h-screen flex flex-col justify-center content-center my-0; 
    }

    .reference,
    .keep-hidden {
      display: none !important;
    }

    .quote:not(.keep-hidden),
    .image-source:not(.keep-hidden),
    .layout-box *,
    .keep-visible,
    .keep-visible p,
    .citation:not(.keep-hidden) {
      display: block !important;
    }

    /* Layout / Typografie */
    main,
    thead,
    main li,
    td {
      @apply text-xl;
    }

    .image-source {
      @apply text-lg;
    }

    img {
      @apply mx-auto;
    }

    .grid-layout:not(.keep-layout) {
      @apply grid-cols-1 md:grid-cols-1 lg:grid-cols-1;
    }
  }
}

@layer utilities {
  .effect-blur {
    @apply filter blur-md;
  }

  .effect-grayscale {
    @apply filter grayscale;
  }
}

/* Basis Tabelle */
table {
  @apply table-auto border-collapse w-full text-left text-sm;
}

table tbody td {
  @apply px-2 py-2 border-b border-gray-200 border-r border-gray-200;

  &:last-child {
    @apply border-r-0;
  }
}

table tbody tr:last-child td {
  @apply border-b-0;
}

/* spezielle Regel für Tabelle mit Klasse .facts */
table.facts td {
  @apply border-r-0;
}

/* --- Mobile Collapse --- */
@media (max-width: 640px) {

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    @apply block w-full;
  }

  thead {
    @apply hidden;
  }

  tr {
    @apply p-2 border-b border-white;
  }

  table tbody td {
    @apply border-none px-0 py-0 text-sm block text-left;

    &::before {
      content: attr(data-label);
      @apply font-semibold mr-2;
    }
  }

  table tr:last-child {
    @apply border-none;
  }
}