@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Terminal Grotesque";
    src: url("public/fonts/terminal-grotesque.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Terminal Grotesque Open";
    src: url("public/fonts/terminal-grotesque_open.otf") format("opentype");
    font-style: normal;
    font-display: swap;
  }

@layer base {
    html {
      font-family: "Basic", sans-serif;
      font-weight: 200;
    }
    body {
      @apply bg-black text-white;
    }
    h1 { @apply text-8xl; 
        font-family: "Terminal Grotesque Open", sans-serif;}
    h2 { @apply text-6xl; 
        font-family: "Terminal Grotesque", sans-serif;}
    h3 { @apply text-2xl font-semibold; }
    p  { @apply leading-relaxed; }
  }