---
const { title = "Artificial Impasto" } = Astro.props;
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
import Reference from "../components/Reference.astro";
import "../styles/global.css";

---
<html lang="de" class="dark">
  <head>
    <meta charset="utf-8" />
    <title>{Astro.props.title || "Artificial Impasto"}</title>
  </head>
  <body class="font-sans">
    <div class="flex min-h-screen">
      <!-- Sidebar -->
      <aside class="hidden md:block fixed top-0 left-0 h-screen w-48 border-r-0 p-4">
        <Navigation />
      </aside>

      <!-- Main Content -->
      <main class="flex-1 mt-4 p-6 md:ml-48">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>